
footer {
        background-color: $color2;
    div {
        font-size: $textopequenio;
        color: $color4;
        font-family: $parrafos;
        font-weight: 200;
        padding-top: 20px;
        
        a{
            display: inline;
            text-decoration: none;
            color: $color4;
        }
        a:hover {
            color:$color3;
            font-weight: 500;
            text-decoration: none;
        }
    }
    
    .menuRedesFooter ul {
        padding: 20px;

            li {
                list-style: none;

                i{
                    padding: 5px;
                    color: $color4;
                    font-size: 25px;
                }
            }
    }        

    .firma {
        font-size: $textofooter;
        color: $color4;
        font-family: $parrafos;
        font-weight: 200;
        padding-bottom: 10px;
    }
}   

.menuRedesFooter i:hover {
    transform: scale(1.8);
    transition: all 0.7s;
}