.menu {
        
    ul {
        margin: 5px;
        
        li {
            list-style-type: none;
            font-family: $parrafos;
            padding: 5px;
            
            a {
                font-size: 10px;
                color: white;
                list-style: none;
                text-decoration: none;
            }
        }
    }

}

.menu a:hover {
    color: $color3;
    font-weight: 600;
    transition: 1s;
}

.menuRedes li a {
    color: white;
}
.menuRedes li a:hover {
    transform: scale(1.4);
    color: $color3;
    transition: 0.7s ease-in-out;
}

.menuRedes li .correo:hover {
    transform: rotate(360deg);
    transition: 1.5s ease-in-out;
}
