@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

hr {
  width: 90%;
  height: 2px;
  background-color: #7c7a7a;
  border: none;
  margin-right: auto;
  margin-left: auto;
}

header {
  padding: 10px;
  background-color: #212529;
}
header .imagenLogotipo {
  width: 200px;
}

main {
  background-image: url(../img/principal.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 50px;
}
main .principal {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.clientes {
  padding-top: 40px;
  padding-bottom: 50px;
}
.clientes h4 p {
  text-align: center;
  padding-left: 20px;
  color: #212529;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.clientes .clientes1 {
  padding: 30px;
}
.clientes .clientes1 .cliente {
  padding: 10px;
}

.cliente:hover {
  transform: scale(1.2);
  transition: 2s;
}

.quienesSomos {
  background-image: url(../img/quienesSomos.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quienesSomos .quienesSomos1 {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.quienesSomos .quienesSomos1 .quienesSomosH2 {
  color: whitesmoke;
}
.quienesSomos .quienesSomos1 .presentacion {
  color: whitesmoke;
  width: 100%;
}

.nosotras1 {
  padding: 30px;
  margin-top: auto;
  margin-right: auto;
}
.nosotras1 .laura {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.7);
}
.nosotras1 .laura .lauraTexto h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
.nosotras1 .laura h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
}
.nosotras1 .laura p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}
.nosotras1 .laura .lauraFoto {
  padding: 80px;
}
.nosotras1 .sol {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.3);
}
.nosotras1 .sol .solTexto h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
.nosotras1 .sol h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
}
.nosotras1 .sol p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}
.nosotras1 .sol .solFoto {
  padding: 80px;
}

.contacto {
  background-image: url(../img/imagenFormulario_Desenfoque.jpg);
  background-size: cover;
}
.contacto .contacto1 {
  /*  div {
          .imagenFormulario {
              display:none;
              }
          } */
}
.contacto .contacto1 .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto .contacto1 .formulario div img {
  width: 125px;
}
.contacto .contacto1 .formulario div ul {
  padding: 10px;
}
.contacto .contacto1 .formulario div ul li {
  list-style: none;
}
.contacto .contacto1 .formulario div ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.contacto .contacto1 .formulario div ul li a:hover {
  color: #bfbebe;
  font-weight: 500;
  text-decoration: none;
}

/*Boton Volver Arriba*/
.btn-volver-arriba {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  margin-right: -60px;
  transition: all 0.4s ease;
}

.btn-volver-arriba a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  text-align: center;
}

.btn-volver-arriba a i {
  font-size: 1rem;
  color: #fff;
  line-height: 40px;
}

/*efecto borde*/
.prueba:hover {
  border-style: solid;
  border-radius: 15px;
  border-color: #bfbebe;
  transition: 2s;
}

.portfolio {
  background-image: url(../img/queHacemos.jpg);
  background-size: cover;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 3mm;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/*Pantalla celular*/
@media only screen and (min-width: 320px) {
  .principal1 h1 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
  }
  .principal1 p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
  }
  h2 {
    color: #212529;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
  }
  h2:hover {
    color: #7c7a7a;
  }
  .comoFunciona .comoFuncionaH2 {
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
  }
  .comoFunciona .comoFunciona1 {
    padding: 20px;
  }
  .comoFunciona .comoFunciona1 div img {
    padding-bottom: 20px;
  }
  .comoFuncionaH2:hover {
    color: #7c7a7a;
  }
  .queHacemos {
    padding-top: 30px;
    width: 100%;
  }
  .queHacemos .queHacemos1 div img {
    padding-bottom: 30px;
  }
  .queHacemos .queHacemos1 div .trabajos {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 20px;
    margin-left: 50px;
  }
  .queHacemos .queHacemos1 div .trabajos span a {
    color: #f44c28;
    list-style: none;
    font-size: 18px;
    border-radius: 5px;
    border-style: solid;
    border-color: #7c7a7a;
    padding: 5px;
    text-align: end;
  }
  .trabajos span a:hover {
    text-decoration: none;
    font-weight: 600;
    background-color: #bfbebe;
    transition: 2s;
  }
  .presentacion {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 10px;
  }
  .funcionamos {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding-top: 20px;
    color: white;
  }
  .contacto {
    background-image: url(../img/imagenFormulario_Desenfoque.jpg);
    background-size: cover;
  }
  .contacto .contacto1 {
    /*    div {
              .imagenFormulario {
                  display:none;
                  }
              } */
  }
  .contacto .contacto1 .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacto .contacto1 .formulario div img {
    width: 150px;
  }
  .contacto .contacto1 .formulario div ul {
    padding: 10px;
  }
  .contacto .contacto1 .formulario div ul li {
    list-style: none;
  }
  .contacto .contacto1 .formulario div ul li a {
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: #000;
  }
  .contacto .contacto1 .formulario div ul li a:hover {
    color: #bfbebe;
    font-weight: 500;
    text-decoration: none;
  }
}
/*Pantalla tablet*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .principal1 h1 {
    font-size: 60px;
  }
  .principal1 p {
    font-size: 25px;
  }
  h2 {
    font-size: 40px;
  }
  h2:hover {
    color: #7c7a7a;
  }
  .comoFuncionaH2 {
    font-size: 50px;
  }
  .contacto {
    background-image: url(../img/imagenFormulario_Desenfoque.jpg);
    background-size: cover;
  }
  .contacto .contacto1 {
    /* div {
              .imagenFormulario {
                  display:none;
                  }
              } */
  }
  .contacto .contacto1 .formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .contacto .contacto1 .formulario div {
    width: 30%;
  }
  .contacto .contacto1 .formulario div img {
    width: 200px;
  }
  .contacto .contacto1 .formulario div {
    width: 50%;
  }
  .contacto .contacto1 .formulario div ul {
    padding: 10px;
    border-left-style: solid;
    border-left-color: #f44c28;
    border-left-width: 2px;
  }
  .contacto .contacto1 .formulario div ul li {
    list-style: none;
  }
  .contacto .contacto1 .formulario div ul li a {
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: #000;
  }
  .contacto .contacto1 .formulario div ul li a:hover {
    color: #bfbebe;
    font-weight: 500;
    text-decoration: none;
  }
}
/*Pantalla notebook*/
@media only screen and (min-width: 768px) {
  .principal1 h1 {
    font-size: 90px;
  }
  .principal1 p {
    font-size: 35px;
  }
  h2 {
    font-size: 50px;
  }
  h2:hover {
    color: #7c7a7a;
  }
  .queHacemos {
    padding-top: 30px;
    width: 100%;
  }
  .queHacemos .queHacemos1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .queHacemos .queHacemos1 div {
    width: 45%;
  }
  .queHacemos .queHacemos1 .trabajos {
    font-size: 18px;
    text-align: left;
  }
  .comoFunciona {
    padding-top: 30px;
    width: 100%;
  }
  .comoFunciona .comoFuncionaH2 {
    font-size: 50px;
  }
  .comoFunciona .comoFunciona1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
  }
  .comoFunciona .comoFunciona1 div {
    width: 45%;
  }
  .comoFunciona .comoFunciona1 div {
    width: 45%;
  }
  .comoFuncionaH2:hover {
    color: #7c7a7a;
  }
  .presentacion {
    font-size: 18px;
  }
  .contacto {
    background-image: url(../img/imagenFormulario_Desenfoque.jpg);
    background-size: cover;
  }
  .contacto .contacto1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /*    div {
          width: 40%;
          .imagenFormulario {
              display:block;
              padding-bottom: 20px;
              }
          } */
  }
  .contacto .contacto1 .formulario {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .contacto .contacto1 .formulario div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35%;
  }
  .contacto .contacto1 .formulario div img {
    width: 200px;
  }
  .contacto .contacto1 .formulario div {
    width: 45%;
  }
  .contacto .contacto1 .formulario div ul {
    padding-left: 130px;
  }
  .contacto .contacto1 .formulario div ul li {
    list-style: none;
  }
  .contacto .contacto1 .formulario div ul li a {
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: #000;
  }
  .contacto .contacto1 .formulario div ul li a:hover {
    color: #bfbebe;
    font-weight: 500;
    text-decoration: none;
  }
}
/*Pantalla Desktop*/
@media only screen and (min-width: 992px) {
  .principal1 h1 {
    font-size: 120px;
  }
  .principal1 p {
    font-size: 40px;
  }
  h2 {
    font-size: 50px;
  }
  h2:hover {
    color: #7c7a7a;
  }
  .comoFuncionaH2 {
    font-size: 50px;
  }
}
.menu ul {
  margin: 5px;
}
.menu ul li {
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
}
.menu ul li a {
  font-size: 10px;
  color: #bfbebe;
  list-style: none;
  text-decoration: none;
}

.menu a:hover {
  color: #f44c28;
  font-weight: 600;
}

footer {
  background-color: #000;
}
footer div {
  font-size: 18px;
  color: #bfbebe;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  padding-top: 20px;
}
footer div a {
  display: inline;
  text-decoration: none;
  color: #bfbebe;
}
footer div a:hover {
  color: #f44c28;
  font-weight: 500;
  text-decoration: none;
}
footer .menuRedesFooter ul {
  padding: 20px;
}
footer .menuRedesFooter ul li {
  list-style: none;
}
footer .menuRedesFooter ul li i {
  padding: 5px;
  color: #bfbebe;
  font-size: 25px;
}
footer .firma {
  font-size: 14px;
  color: #bfbebe;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  padding-bottom: 10px;
}

.menuRedesFooter i:hover {
  transform: scale(1.8);
  transition: all 0.7s;
}/*# sourceMappingURL=estilos.css.map */